<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="viewport" content="width=device-width">
	<title>CEMEX Brand</title>

	<link rel="import" href="partials/favicon.html">
</head>

<body>
<link rel="import" href="partials/icons.html">

<div id="wrapper">
	<link rel="import" href="partials/topnav.html">
	<link rel="import" href="partials/sidenav.html">

	<div class="page-wrapper">
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="spacer-32"></div>
					<h1>Brand</h1>
					<div class="spacer-32"></div>
				</div>
				<!-- end .col-md-12 -->
			</div>
			<!-- end .row -->

			<div class="row">
				<div class="col-md-4">
					<h2>Corporate Signature</h2>
					<div class="spacer-16"></div>
					<p>The corporate signature, a key element of a company's identity, is the addition of the symbol, the typographic arrangement, and the corporate colors. Its proportions and characteristics, as well as the relationships among its components must be strictly respected and supervised for correct application.</p>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<div class="row">
							<div class="col-md-6 offset-md-3">
								<img class="img-responsive" src=<%= require("./images/brand_01.png") %> alt="cemex logo" />
							</div>
							<!-- end .col-md-6 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->

			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>Isolation Areas</h2>
					<div class="spacer-16"></div>
					<p>Isolation areas are defined by the virtual space limited by a margin on each side equivalent to 1/3 of the symbol's total height. In order to preserve legibility and a sharp reproduction of CEMEX identity, an authorized minimum size has been determined, which is shown above. Due to the proportions of the corporate signature, it is important that all reproductions be made from authorized art, and by a qualified staff.</p>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<div class="row">
							<div class="col-md-6 offset-md-3">
								<img class="img-responsive" src=<%= require("./images/brand_02.png") %> alt="cemex logo isolation areas" />
							</div>
							<!-- end .col-md-6 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->

			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>Colors and Combinations</h2>
					<div class="spacer-16"></div>
					<p>Color is a fundamental component of a company's visual identity; together with the corporate signature, it supports a company's identification. Based on the PANTONE MATCHING SYSTEM® (PMS*), the colors for the CEMEX symbol and logotype are as follows:</p>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<div class="row">
							<div class="col-md-6 offset-md-3">
								<img class="img-responsive" src=<%= require("./images/brand_03.png") %> alt="cemex logo color and combinations" />
							</div>
							<!-- end .col-md-6 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->

			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>Light Backgrounds</h2>
					<div class="spacer-16"></div>
					<p>For those applications in which the corporate signature is reproduced over light color backgrounds, special care must be taken in color selection to assure its correct reproduction and legibility.</p>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<div class="row">
							<div class="col-md-6 offset-md-3">
								<img class="img-responsive" src=<%= require("./images/brand_04.png") %> alt="cemex logo light backgrounds" />
							</div>
							<!-- end .col-md-6 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->

			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>Dark and Colour Background</h2>
					<div class="spacer-16"></div>
					<p>For those applications in which the corporate signature is reproduced over dark color backgrounds, special care must be taken in color selection to assure its correct reproduction and legibility.</p>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<div class="row">
							<div class="col-md-6 offset-md-3">
								<img class="img-responsive" src=<%= require("./images/brand_05.png") %> alt="cemex logo dark and colour background" />
							</div>
							<!-- end .col-md-6 -->
						</div>
						<!-- end .row -->
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->
			
			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>Other Applications</h2>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<img class="img-responsive" src=<%= require("./images/brand_06.png") %> alt="cemex logo other applications" />
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->
			<div class="spacer-48"></div>

			<div class="row">
				<div class="col-md-4">
					<h2>SVG Assets</h2>
				</div>
				<!-- end .col-md-4 -->

				<div class="col-md-8">
					<div class="demo-image-container">
						<h3>Cemex Logo</h3>
						<div class="spacer-16"></div>
						<ul>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/cemex_color.svg" target="_blank">Cemex Logo - Color (SVG)</a></li>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/cemex_mono_white.svg" target="_blank">Cemex Logo - Monochromatic - White (SVG)</a></li>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/cemex_mono_black.svg" target="_blank">Cemex Logo - Monochromatic - Black (SVG)</a></li>
						</ul>
						<div class="spacer-32"></div>
						
						<h3>ReadyMix Go Logo</h3>
						<div class="spacer-16"></div>
						<ul>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/readymix_go_color.svg" target="_blank">ReadyMix Go Logo - Color (SVG)</a></li>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/readymix_go_mono_white.svg" target="_blank">ReadyMix Go Logo - Monochromatic - White (SVG)</a></li>
							<li><a href="https://www.cemexgo.com/cdn/logos/svg/readymix_go_mono_black.svg" target="_blank">ReadyMix Go Logo - Monochromatic - Black (SVG)</a></li>
						</ul>	
					</div>
					<!-- end .demo-image-container -->
				</div>
				<!-- end .col-md-8 -->
			</div>
			<!-- end .row -->

		</div>
		<!-- end .container-fluid -->
	</div> 
	<!-- end .page-wrapper -->
</div>
<!-- end #wrapper -->

<link rel="import" href="partials/footer.html"><link rel="import" href="partials/overlays.html">

</body>
</html>
