<template>
	<div class="cmx-footer">
		<p class="cmx-footer__copyright">Copyright &copy; 2018, CEMEX International Holding AG. All rights reserved.</p>
		<ul class="cmx-footer__menu">
			<li class="cmx-footer__menu-item"><a class="cmx-footer__menu-link" href="">Legal</a></li>
			<li class="cmx-footer__menu-item"><a class="cmx-footer__menu-link" href="javascript:launchModal('#tcModal')">Privacy</a></li>
			<li class="cmx-footer__menu-item"><a class="cmx-footer__menu-link" href="">cemex.com</a></li>
		</ul>
	</div>
	<!-- end .footer -->
</template>