<template>
   <nav id="sidenav" class="cmx-side-nav-bar cmx-navbar-static-side sidebar-expanded">
    <div class="cmx-collapse-trigger">
        <span class="cmx-icon-left-double font-true-white" aria-hidden="true"></span>
        <span class="sr-only">Collapse</span>
    </div>
      <div class="cmx-expand-trigger hidden-nav">
         <svg class="cmx-icon-right-double-silver">
            <use xlink:href="#icon-right-double"></use>
         </svg>
      </div>
      <div class="cmx-legal-entity">
         <a href="#">
            <div class="cmx-legal-entity-name">مانويل الماغير غواناخواتو</div>
            <div class="cmx-legal-entity-id">#1233312 
               <svg class="cmx-arrow-legal-entity">
                  <use xlink:href="#icon-right-single"></use>
               </svg>
            </div>
         </a>
      </div>
      <ul>
         <li>
            <a class="primary" href="#">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-track">
                     <use xlink:href="#icon-track"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">مسار</span>
            </a>
         </li>
         <li>
            <a class="primary active" href="#">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-pricing">
                     <use xlink:href="#icon-pricing"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">الفواتير والدفعات</span>
            </a>
            <ul class="cmx-side-subnav">
               <li>
                  <a href="#">لوحة القيادة</a>
               </li>
               <li>
                  <a href="#">الوثائق والمدفوعات المالية</a>
               </li>
               <li>
                  <a href="#">مشكلات الفوترة</a>
               </li>
               <li>
                  <a href="#">مركز الوثائق</a>
               </li>
               <li>
                  <a href="#">تقارير</a>
               </li>
               <li>
                  <a href="#">دراسة</a>
               </li>    
            </ul>
         </li>
         <li>
            <a class="primary" href="#">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-user-profile">
                     <use xlink:href="#icon-user-profile"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">معلومات العميل</span>
            </a>

            
         </li>
         <li>
            <a class="primary" href="#">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-scheduler">
                     <use xlink:href="#icon-scheduler"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">جدول التسليم</span>
            </a>
         </li>
         
         
         <li>
            <a class="primary" href="index-rtl.html">
               <span class="cmx-icon padding-helper">
                  <svg class="icon">
                     <use xlink:href="#icon"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">الشروط التجارية</span>
            </a>
         </li>
         <li>
            <a class="primary" href="index-rtl.html">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-ordering">
                     <use xlink:href="#icon-ordering"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">النظام و كتالوج المنتجات</span>
            </a>
         </li>
         <li>
            <a class="primary" href="index-rtl.html">
               <span class="cmx-icon padding-helper">
                  <svg class="icon">
                     <use xlink:href="#icon"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">إدارةالمستخدم</span>
            </a>
         </li>
         <li>
            <a class="primary " href="#">
               <span class="cmx-icon padding-helper">
                  <svg class="icon-payment">
                     <use xlink:href="#icon-payment"></use>
                  </svg>
               </span>
               <span class="cmx-as-label">???????</span>
            </a>
         </li>
      </ul>
   </nav>
</template>