<div data-id="daily-fleet-capacity-container"
  fxFlex
  fxLayout="column"
  [ngStyle.xl]="{'margin-top': '60px', 'margin-left': '60px'}"
  [ngStyle.lg]="{'margin-top': '60px', 'margin-left': '60px'}"
  [ngStyle.xs]="{'margin-top': '10px', 'margin-left': '10px'}"
  [ngStyle.sm]="{'margin-top': '40px', 'margin-left': '40px'}"
  [ngStyle.md]="{'margin-top': '60px', 'margin-left': '60px'}">
  <div data-id="component-title" fxLayout="row" [ngStyle.lg]="{'margin-bottom': '15px'}" [ngStyle.xs]="{'margin-bottom': '15px'}">
    <div data-id="component-title-container" fxFlex>
        <h2 data-id="component-title-header">{{ translate('rccc.catalogs.fleet_constraints.title') }} <span aria-hidden="true" class="cmx-icon-right-single" style="color: #3FA9F5; font-size: 12pt;"></span> {{ translate('rccc.daily_fleet_capacity.title') }}</h2>
    </div>
  </div>

  <div fxFlex fxLayout="column">
    <div class="catalog-container">
      <cmx-alert></cmx-alert>
      <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="15px"
      fxLAyoutGap.xl="5px"
      fxLayoutGap.xs="-10px">
        <div fxLayout="column" fxFlex="25%">
            <div
            data-id="cmx-rccc-search-label"
            class="cmx-input__div--align">
              {{translate('rccc.admin.search_label')}}
            </div>
            <cmx-dropdown
              data-id="plantDropDown"
              class="cmx-input"
              [closeOnClick]="true"
              [enableSearch]="true"
              placeholder="{{selectedPlantDescription}}">
            <cmx-dropdown-item
              *ngFor="let plant of myPlants"
              (click)="setPlant(plant)"
              [searchValue]="plant.plantLabel">
              {{plant.plantCode}} - {{plant.plantDesc}}
            </cmx-dropdown-item>
          </cmx-dropdown>
        </div>
        <div fxLayout="column" fxFlex="25%">
          <div
            [class.datepicker--error]="datePickerError">
            <input
              data-id="dateDatePickerInput"
              class="datepicker-input"
              placeholder="formattedDate"
              value="{{formattedDate}}"
              (click)="updateDatePicker()"/>
            <div [hidden]="!showDatePicker">
              <cmx-datepicker
                [singleDateSelection]="true"
                data-id="dateDatePicker"
                class="datepicker"
                #datepicker
                (select)="pickDate($event)"
                (cancel)="cancelDatePicker()"
                [tags]="datepickerTags"
                [startWeekWith]="0"
                [forbiddenWeekDays]="disabledWeekDays"
                [disabledDates]="disabledDates">
              </cmx-datepicker>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%; height: 15px; min-height: 15px; float: left; display: float"></div>
      <div class="not-found" *ngIf="!(fleetCapacityItems && formCreated)"
      [ngStyle.lg]="{'margin-bottom': '15px'}">
        {{ translate('database.errors.no_results') }}
      </div>
      <div style="width: 100%;" *ngIf="fleetCapacityItems && formCreated">
          <ul class="cmx-tabs" data-selected-text="Search Results">
              <li class="cmx-tabs__tab active">
                <a class="cmx-tabs__link">{{translate('rccc.views.labels.search_result')}}</a>
              </li>
              <li class="cmx-tabs__tab" fxShow fxShow.xs="false">
                <ul>
                  <li>
                    <button style="font-size: 1rem;" cmx-button-link href="#" (click)="refresh()">
                      <span class="cmx-icon-repeat" aria-hidden="true"></span> {{translate('views.global.btn_refresh')}}
                    </button>
                  </li>
                  <li>
                    <button style="font-size: 1rem" cmx-button-link href="#" (click)="openCopyDialog()" [disabled]="!canCopyModel || isViewOnly">
                      <span class="cmx-icon-document" aria-hidden="true"></span>
                      {{translate('rccc.actions_bar.copy_model_button')}}
                    </button>
                  </li>
                </ul>
              </li>
          </ul>
      </div>

      <div
        *ngIf="fleetCapacityItems && formCreated">
        <ul class="action-buttons" fxShow.xs="true" fxShow.xl="false" fxShow.lg="false" fxShow.md="false" fxShow.sm="false" [ngStyle.xs]="{'margin-top': '-27px'}">
          <li>
            <button style="font-size: 1rem" cmx-button-link href="#" (click)="refresh()">
              <span class="cmx-icon-repeat" aria-hidden="true"></span> {{translate('views.global.btn_refresh')}}
            </button>
          </li>
          <li>
            <button style="font-size: 1rem" cmx-button-link href="#" (click)="openCopyDialog()" [disabled]="!canCopyModel">
              <span class="cmx-icon-document" aria-hidden="true"></span>
              {{translate('rccc.actions_bar.copy_model_button')}}
            </button>
          </li>
        </ul>

        <!-- The Daily Fleet Capacity Table -->
        <div [(dir)]="htmlDIR" class="capacity-table">
          <div class="capacity-table__header" [ngStyle]="headerStyle" fxFill fxLayout="row" fxLayoutAlign="space-evenly none">
            <div fxFlex fxLayoutAlign="center center" class="capacity-table__header-column">
              <div>{{translate('views.fleet_capacity_table.fleet_type')}}</div>
            </div>
            <div fxFlex fxLayoutAlign="center center" class="capacity-table__header-column">
              <div>{{translate('views.fleet_capacity_table.offered_units')}}</div>
            </div>
            <div fxFlex fxLayoutAlign="center center" class="capacity-table__header-column">
              <div>{{translate('views.fleet_capacity_table.committed_units')}}</div>
            </div>
            <div fxFlex fxLayoutAlign="center center" class="capacity-table__header-column">
              <div>{{translate('views.fleet_capacity_table.available_units')}}</div>
            </div>
          </div>
          <div
            *ngFor="let item of fleetCapacityItems">

            <!-- Inicia fleet capacity item -->
            <div
              class="capacity-check-item"
              [ngStyle]="headerStyle"
              fxFill
              fxLayout="row"
              fxLayoutAlign="space-evenly none">

              <div
                fxFlex
                fxLayoutAlign="center center"
                [ngStyle]="itemStyle"
                class="capacity-check-item__label">
                <div>{{item.fleetTypeDesc}}</div>
              </div>
              <div
                fxFlex
                fxLayoutAlign="center center"
                [ngStyle]="itemStyle"
                class="capacity-check-item__label">
                <div
                  fxFlexFill
                  [formGroup]="formGroup"
                  data-id="cmx-form-group"
                  class="tooltip">
                  <input
                    fxFlexFill
                    [formControlName]="'offeredUnits_' + item.fleetId"
                    [attr.data-id]="'cmx-form-offered-units_' + item.fleetId"
                    [attr.data-fleetId]="item.fleetId"
                    type="number"
                    class="capacity-check-item__edit-input capacity-check-item__edit-input--tons"
                    [ngStyle]="itemStyle"
                    [class.capacity-check-item__edit-input--danger]="item.isInvalid"
                    [class.capacity-check-item__edit-input--warning]="item.isWarning"
                    [max]="maxUnits"
                    min="0"
                    (keyup)="onUpdate($event, item)"
                    (change)="onUpdate($event, item)"
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                    onfocus="this.select()"
                    [readonly]="isViewOnly"
                  />
                  <span
                    data-id="cmx-form-group-tons-offered-tooltip"
                    class="tooltip__tooltiptext"
                    [class.tooltip--danger]="item.isInvalid"
                    [class.tooltip--warning]="item.isWarning">
                    {{item.unitsToolTip}}
                  </span>
                </div>
              </div>
              <div
                fxFlex
                fxLayoutAlign="center center"
                [ngStyle]="itemStyle"
                class="capacity-check-item__label">
                <div>{{item.committedUnits}}</div>
              </div>
              <div
                fxFlex
                fxLayoutAlign="center center"
                [ngStyle]="itemStyle"
                class="capacity-check-item__label">
                <div>{{item.availableUnits}}</div>
              </div>
            </div>

            <!-- Ends Daily Fleet Item -->
          </div>
        </div>
        <!-- The Daily Fleet Capacity Table -->
      </div>

      <div class="spacer">
      </div>

      <dash-panel
        *ngIf="fleetCapacityItems && formCreated"
        [title]="translate('rccc.daily_fleet_capacity.labels.chart_title')">
        <div
          *ngFor="let item of chartItems"
          [ngStyle]="{'width': '20%', 'height': '20%', 'float': 'left'}"
          [ngStyle.xs]="{'width': '80%', 'height': '80%'}">
          <cmx-comparison-donut-grid-chart
             [dataSource]="item"
             nameField="fleetTypeDesc"
             value1Field="offeredUnits"
             value2Field="committedUnits"
             label1Field="{{translate('rccc.charts.labels.offered')}}"
             label2Field="{{translate('rccc.charts.labels.committed')}}">
          </cmx-comparison-donut-grid-chart>
        </div>
      </dash-panel>

      <cmx-dialog
        #cloneDialog
        data-id="cloneDialog"
        [enableFooter]="true"
        [enableClose]="true"
        backgroundColor="gray">
        <cmx-dialog-body fxFlex fxLayout="column" class="dialog-copy-model">
          <div fxLayout="column" class="dialog-title" [ngStyle]="{'margin-top': '40px', 'margin-bottom':'100px'}">
            <h2 class="copy-dialog-title">
              {{translate('rccc.clone_dialog.title')}}
            </h2>
            <div class="copy-dialog-reference-date-title">
                {{translate('rccc.clone_dialog.reference_date')}}: {{stringHelper.formatDate(date)}}
            </div>
          </div>

          <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLAyoutGap.xs="100px" [ngStyle]="{'margin-left': '20px'}" [ngStyle.xs]="{'margin-left':'5px'}">
            <div fxFlex="2 2 100%" fxLayoutAlign="center center">
              <div fxFlex fxLayout="column">
                <h5 class="datepicker-title">{{translate('rccc.clone_dialog.initial_date')}}:</h5>
                <input
                  data-id="clone-dialog-datepicker-input-initial"
                  class="datepicker-input"
                  [placeholder]="formattedFromDate"
                  value="{{formattedFromDate}}"
                  (click)="toggleDatePickerCloneInitial()"/>
                <div [hidden]="!showDatePickerCloneInitial">
                  <cmx-datepicker
                    [singleDateSelection]="true"
                    data-id="clone-dialog-datepicker-initial"
                    class="datepicker"
                    (select)="setFromDate($event)"
                    (cancel)="cancelDatePickerCloneInitial()"
                    [tags]="datepickerTags"
                    [startWeekWith]="0"
                    [forbiddenWeekDays]="disabledWeekDays"
                    [disabledDates]="disabledDates">
                  </cmx-datepicker>
                </div>
              </div>
            </div>

            <div fxFlex="2 2 100%" fxLayoutAlign="center center">
              <div fxFlex fxLayout="column" [ngStyle.xs]="{'margin-top':'100px'}">
                <h5 class="datepicker-title">{{translate('rccc.clone_dialog.final_date')}}:</h5>
                <input
                  data-id="clone-dialog-datepicker-input-final"
                  class="datepicker-input"
                  [placeholder]="formattedToDate"
                  value="{{formattedToDate}}"
                  (click)="toggleDatePickerCloneFinal()"/>
                <div [hidden]="!showDatePickerCloneFinal">
                  <cmx-datepicker
                    [singleDateSelection]="true"
                    data-id="clone-dialog-datepicker-final"
                    class="datepicker"
                    (select)="setToDate($event)"
                    (cancel)="cancelDatePickerCloneFinal()"
                    [tags]="datepickerTags"
                    [startWeekWith]="0"
                    [forbiddenWeekDays]="disabledWeekDays"
                    [disabledDates]="disabledDates">
                  </cmx-datepicker>
                </div>
              </div>
            </div>

          </div>

        </cmx-dialog-body>
        <cmx-dialog-footer style="text-align: center;">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="5px" fxLayoutAlign="end end">
            <button cmx-button color="blue-inverse" (click)="closeCloneDialog()">
              {{translate('views.global.btn_cancel')}}
            </button>
            <button cmx-button color="blue" (click)="copyModel()">
              {{translate('views.global.btn_confirm')}}
            </button>
          </div>
        </cmx-dialog-footer>
      </cmx-dialog>

      <cmx-dialog
        #confirmDialog
        data-id="confirmDialog"
        [enableFooter]="true"
        [enableClose]="true"
        backgroundColor="gray">
        <cmx-dialog-body>
          <h3 class="dialog-title">{{confirmMessage}}</h3>
        </cmx-dialog-body>
        <cmx-dialog-footer style="text-align: center;">
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
            <button cmx-button color="blue-inverse" (click)="closeConfirmDialog()">
              {{translate('views.global.btn_cancel')}}
            </button>
            <button cmx-button color="blue" (click)="delete()">
              {{translate('views.global.btn_confirm')}}
            </button>
          </div>
        </cmx-dialog-footer>
      </cmx-dialog>
    </div>
  </div>
</div>

<cmx-fixed-section
  data-id="actionsFixedSection"
  sectionBottom="80"
  sectionRight="30"
  backgroundColor="white"
  [ngStyle.xs]="{'left': '20px !important'}">
  <button cmx-button (click)="confirmDelete()" [color]="'blue-inverse'" [disabled]="!canDelete || isViewOnly">
      {{translate('rccc.actions_bar.delete_button')}}
  </button>
  <button cmx-button (click)="save()" [color]="'blue'" [disabled]="!canSave || isViewOnly">
    {{translate('rccc.actions_bar.save_button')}}
  </button>
</cmx-fixed-section>
