// Borders

$solid-1-true-red: 		1px solid $true-red;
$solid-1-true-blue: 	1px solid $true-blue;
$solid-1-bright-blue: 	1px solid $bright-blue;
$solid-1-bright-green: 	1px solid $bright-green;
$solid-1-bright-orange: 1px solid $bright-orange;

$solid-1-active-blue: 	1px solid $active-blue;
$solid-1-active-green:	1px solid $active-green;

$solid-1-disabled-grey: 1px solid $disabled-grey;